/*    width: 100%;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    
}
.template-container 
{
    background-color:  #E5E5E7;
    display: flex;
    
}
.main-content 
{
    display: flex;
    flex-direction: column;
    height: 500px;
} */
/* Template.css */

/* Template.css */

.template-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.img-container {
  width: 40%;
  margin-right: 20px;
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

.image {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.main-content {
  width: 100%;
  box-sizing: border-box; 
  padding: 20px; 
  overflow-wrap: break-word;
}

.form-container {
  width: 100%;
}

@media screen and (min-width: 768px) {
  /* For screens larger than 768 pixels wide */
  .template-container {
    flex-direction: row;
  }

  .img-container {
    width: 50%;
    margin-bottom: 0;
  }

  .main-content {
    width: 50%;
    padding: 20px;
    
  }
}

@media screen and (min-width: 1024px) {

  .template-container {
    gap: 0;
  }

  .img-container {
    width: 40%;
  }

  .main-content {
    width: 60%;
  }
}

