@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
 
  background-color:  #E5E5E7;
}


/* *{
   width: 100%;
  height: 100vh; 
 box-sizing: border-box;
 overflow-x: hidden;
 background-size: cover;
 object-fit: cover; 

}
.template-container 
{
  background-color:  #E5E5E7;
  display: flex; 
 overflow-y: hidden;
  background-repeat: no-repeat;
}

.main-content 
{
  display: flex;
  flex-direction: column;
  height: 500px;
  background-repeat: no-repeat;
 
}
.img-container 
{
  background-repeat: no-repeat;
   background-color: #D89BFA; 
object-fit: cover;
 height: 720px;
margin-top: 15px; 
 border-radius: 23px;
}
.img-container img 
{
  width: 50%;
  height: 500px;
  align-items: center;
position: relative;
top: 7.688rem;
left: 6.611rem;


}
.container{
  height: 600px;
  
} 
.heading
{
  overflow: hidden;
}
.heading1
{
  overflow: hidden;
}
.form-container
{
  overflow: hidden;
  height: 400px;
} 
 */
.image-heading
{
  font-size: 1.875rem;
  font-weight: 700;
  width: 16.313rem;
  user-select: none;
}
.input 
{
  width: 18.75rem;
}
.template-container 
{
  width: 100%;
}
.heading{
width: 25vw;
font-weight: 700;
font-size: 40px;
line-height:  3.1516927083333335vw;
}
.heading1{

  font-weight: 500;
  font-size: 38px;
  line-height: 42.36px;
  margin-left: 45px;
  }